<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".KartPadSaveStorageFixtureActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <activity
            android:name=".RetroRewindWorkerFixtureActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <activity
            android:name=".RetroRewindInstallActivity"
            android:exported="true"
            android:permission="android.permission.DUMP"
            tools:replace="android:exported" />
        <activity
            android:name=".KartPadActivity"
            android:exported="true"
            android:permission="android.permission.DUMP"
            tools:replace="android:exported" />
    </application>
</manifest>
